
<nav aria-label="Page navigation example">

  <ul class="pagination">
    <li class="page-item"><%= will_paginate @dogs, :renderer => BootstrapPagination::Rails ,class:"page-link" %></li>
    
  </ul>

</nav>

<%= render partial: 'thumbnail', collection: @dogs, as: :dog %>
