
<nav aria-label="Page navigation example">

  <ul class="pagination">

    
  </ul>

</nav>
<%= will_paginate @dogs, :renderer => BootstrapPagination::Rails ,class:"page-link" %>
<%= render partial: 'thumbnail', collection: @dogs, as: :dog %>
